# EditorConfig helps maintain consistent coding styles
# http://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# PHP files
[*.php]
indent_style = space
indent_size = 4
max_line_length = 120

# JavaScript files
[*.{js,jsx}]
indent_style = space
indent_size = 2
max_line_length = 100

# CSS files
[*.{css,scss,less}]
indent_style = space
indent_size = 2
max_line_length = 100

# HTML files
[*.{html,htm}]
indent_style = space
indent_size = 2
max_line_length = 100

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# XML files
[*.xml]
indent_style = space
indent_size = 2
